# Pycache
__pycache__
# Environment variables
.env
# Logs
*.log
/logs/*
!/logs/.keep
# Data Files
/app/static/files/*
!/app/static/files/.keep
# Editor configs
*.editorconfig
.project
.pydevproject
.vscode/
# Local cache
.DS_Store
.bash_history
.cache/
.local/
supervisord.pid

.idea
/.idea
webapp.conf

test_data/_aux/batch_ETD_THESIS/reports/*.txt
!test_data/_aux/batch_ETD_THESIS/reports/.keep
test_data/batch_ETD_THESIS/ETD_LICENSE/descriptor.xml
test_data/batch_ETD_THESIS/ETD_THESIS/descriptor.xml
test_data/batch_ETD_THESIS/batch.xml

keys/*
!keys/.keep
